
CoreVRTemplate/.hg/
CoreVRTemplate/binaries/
CoreVRTemplate/deriveddatacache/
CoreVRTemplate/.vs/
CoreVRTemplate/build/
CoreVRTemplate/intermediate/
CoreVRTemplate/PACKPLUGIN/
CoreVRTemplate/saved/
*.orig
VRExpansionPlugin/.hg/
VRExpansionPlugin/binaries/
VRExpansionPlugin/deriveddatacache/
VRExpansionPlugin/.vs/
VRExpansionPlugin/build/
VRExpansionPlugin/intermediate/
VRExpansionPlugin/PACKPLUGIN/
VRExpansionPlugin/saved/
